.titulo{
	background: #2BA6CB;
	text-align: center;
	font-size: 30px;
	
}

.espacioSuperior{
	padding-top: 10px;
}

.espacioInferior{
	padding-bottom: 10px;
}

.selectCorreo{
	padding-top: 17px;
}

.borde
{
	border:1px solid #CCCCCC;
}
